<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width">

    <title>Mercado Liebre</title>
</head>


<body>


    <header class="main-header">
        <div class="main-header-top-bar">

            <img class = "logo" src="/images/logo-mercado-liebre.svg"   alt="">

            <form  class = "search"action="">
                <label for="">
                    <input type="search" name="search" placeholder="search">
                    <i class="fas fa-search"></i>
                </label>
            </form>
            
            <h2 class="copy-header"> 
                <i class="fas fa-hand-holding-usd"></i> 
                Comprá en cuotas y sin tarjeta de crédito  
            </h2>

        </div>
        <a href="#" class = "hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>

        <nav class="main-navbar">
            <ul class = "left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>

           <ul class = "right-navbar">
            <li><a href="#">Creá tu cuenta</a>
                <i class="fas fa-user-circle"></i>
            </li>
            <li><a href="#">Ingresá</a>
                <i class="fas fa-sign-in-alt"></i>
            </li>
            <li><a href="#">Mis compras</a>
                <i class="fas fa-shopping-cart"></i>
            </li>
           </ul>

        </nav>


    
    </header>

    <main>
        <form action="" method="post">
           <br>
           <br>
    
    <div class = "datos-nombreusuario-mail">
            <label for=""></label>
           <input type="text" name="nombre y apellido" placeholder="Nombre y apellido">
    
           <br>
           <br>
    
           
           <label for=""></label>
           <input type="text" name ="nombre de usuario" placeholder="Nombre de usuario">
    
           <br>
           <br>
           <label for=""></label>
           <input type="email" name ="Email" placeholder="E-mail">
    
           <br>
           <br>
    </div>
    
    <div class="fecha-domicilio">
         <h3>Fecha de nacimiento</h3>
           <br>
    
           <label for=""></label>
           <input type="date" name ="fecha de nacimiento" placeholder="mm/dd/yyyy">
    
           <br>
           <br>
    
           <label for=""></label>
           <input type="text" name ="Domicilio" placeholder="Domicilio">
    </div>
    
           <br>
           <br>
    
    
           <h3 class = "titular-perfil">Perfil Del Usuario</h3>
    
    <div class="perfil">

           <br>
    
           
           <input type="radio" name ="Perfil">
           <label for="">Comprador</label>
    
           <br>
           <br>
    
           
           <input type="radio" name ="Perfil">
           <label for="">Vendedor</label>
    </div>
    
           <br>
           
    
           <h3 class="titular-intereses">Intereses</h3>
           
           <br>
    
    <div class="intereses">
           <input type="checkbox" name="intereses" >
           <label for="">Electro</label>
    
           <br>
           <br>
    
           <input type="checkbox" name="intereses" >
           <label for="">Moda</label>
    
           <br>
           <br>
    
           <input type="checkbox" name="intereses" >
           <label for="">Hogar</label>
    
           <br>
           <br>
    
           <input type="checkbox" name="intereses" >
           <label for="">Juguetería</label>
    
           <br>
           <br>
    
           <input type="checkbox" name="intereses" >
           <label for="">Vida sana</label>
    
           <br>
           <br>
    </div>
    
           
        
        </form>
    
    </main>

 

      <footer>

        <ul>
            <li>
                
                <h3 class="logo-pagacontarjeta">Pagá con tarjeta o en efectivo <i class="far fa-credit-card"></i></h3>
                    
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </li>
            <li><h3 class="envio-gratis">Envío gratis desde $ 2.500 <i class="fas fa-shipping-fast"></i></h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </li>
            <li><h3 class="seguridad">Seguridad, de principio a fin <i class="fas fa-shield-alt"></i></h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@</p>
        </ul>

        <br>
    <div>
        <p class = "copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </div>
    
</body>
</html>